<p></p>
<div class="row">
    <div class="btn-group btn-group-lg" role="group">
        <button class="btn btn-primary" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
        <button class="btn btn-primary" [class.active]="filterBy==='boats'" (click)="filterBy='boats'">Boats</button>
        <button class="btn btn-primary" [class.active]="filterBy==='camping'"
            (click)="filterBy='camping'">Camping</button>
        <button class="btn btn-primary" [class.active]="filterBy==='library'"
            (click)="filterBy='library'">Library</button>
    </div>
    <ul id="thumnailsList">
        <li *ngFor="let image of (visibleImages | imagefilter:filterBy)">
            <img src="{{image.url}}" class="tn" width="200" height="160">
        </li>
    </ul>
</div>